<%= form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :industry %><br>
    <%= f.text_field :industry %>
  </div>
  <div class="field">
    <%= f.label :process %><br>
    <%= f.text_area :process %>
  </div>
  <div class="field">
    <%= f.label :apply_by %><br>
    <%= f.date_select :apply_by %>
  </div>
  <div class="field">
    <%= f.label :interviews %><br>
    <%= f.text_field :interviews %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
