<p id="notice"><%= notice %></p>

<h1>Listing Applications</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Company</th>
      <th>Industry</th>
      <th>Process</th>
      <th>Apply by</th>
      <th>Interviews</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.type %></td>
        <td><%= application.company %></td>
        <td><%= application.industry %></td>
        <td><%= application.process %></td>
        <td><%= application.apply_by %></td>
        <td><%= application.interviews %></td>
        <td><%= link_to 'Show', application %></td>
        <td><%= link_to 'Edit', edit_application_path(application) %></td>
        <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_application_path %>
