<p id="notice"><%= notice %></p>

<div class="page-header">
<h1 id="timeline">Upcoming Events</h1>
<p>To see our full calendar of campus recruiting events and application deadlines check out our Calendar</p>
<a href="/static_pages/calendar">Go to Calendar</a>

</div>

<table class= "table table-responsive">
<thead>

<tr>
<th>Picture</th>
<th>Company</th>
<th>Industry</th>
<th>University</th>
<th>Name</th>
<th>Date</th>
</tr>
</thead>

<tbody>
<% @events.each do |event| %>
<tr>
  <td><%= image_tag event.picture_url, width:'200px', class: "img-thumbnail" if event.picture.present?%> 
  <td><%= event.company %></td>
  <td><%= event.industry %></td>
  <td><%= event.university %></td>
  <td><%= event.name %></td>
  <td><%= event.date %></td>
  <td><%= link_to 'Show', event %></td>
  </tr>
  <% end %>
  </tbody>
  </table>

<br>

<%= link_to 'New Event', new_event_path %>
<%= link_to 'New University', new_university_path %>
<%= link_to 'New Company', new_company_path %>
